 <%= render "shared/header" %>
<div class="my_page_all">
    <div class="my_page">
      <span class="name">
          <%=@user.nickname %><span>のマイページ</span>
      </span>
    </div>
    <ul class='song-lists'>
    <% if @songs.length != 0 %>
      <% @songs.each do |song| %> 
      <li class='list'>
        <%= link_to song_path(song.id) do %>
        <div class='song-img-content'>
          <%= image_tag song.image, class: "song-img" %>
        </div>
        <div class='song-info'>
          <h3 class='song-title'>
            <%= song.title %>
          </h3>
           <% end %>
          <div class='song-etc'>
            <span><%= song.artist %><br><%= song.genre %></span>
          </div>
        </div>
      </li>
     <% end %>
     <% else %>
      まだ登録されていません
    <% end %>
    </ul>

    <div class="my_page">
      <span class="name">
          <%=@user.nickname %><span>のお気に入り</span>
      </span>
    </div>
  <ul class='song-lists'>
    <% if @favorites.length != 0 %>
      <% @favorites.each do |song| %>
        <li class='list'>
          <%= link_to song_path(song.id) do %>
          <div class='song-img-content'>
            <%= image_tag song.image, class: "song-img"%>
          </div>
          <div class='song-info'>
            <h3 class='song-titlr'>
              <%= song.title %>
            </h3>
            <% end %>
            <div class='song-etc'>
              <span><%= song.artist %><br><%= song.genre %></span>
            </div>
            <div class='song-user'>
            <span>投稿者:</span><%= link_to User.find(song.user_id).nickname, user_path(song.user_id), class: "user-nickname" %>
            </div>
            <% if user_signed_in? %>
            <div id="favorites_buttons_<%= song.id %>">
              <%= render partial: 'favorites/favorite', locals: { song: song } %>
            </div>
            <% end %>
          </div>
        </li>
      <% end %>
    <% else %>
      お気に入りはまだ登録されていません
    <% end %>
  </ul>
</div>