<%= render "shared/header" %>
<div class="artist-content">
    <div class="text-all">
        <div calss="text-content">
            <h3 class="artist-name"><%= @artist.first.name %> </h3>
            <img src="<%= @artist.first.albums.first.images[0]["url"] %>" width="300" height="300" class="block">
            <img src="<%= @artist.first.albums.second.images[0]["url"] %>" width="300" height="300" class="block">
        </div>
    </div>
    <div class="artist-songs">
        <div class="artist-title">
        <span>プレビュー楽曲</span><h3><%= @artist.first.albums.first.tracks.first.name %> </h3>
        </div>
        <div class="artist-song">
            <iframe class="iframe-song1" src="<%= @artist.first.albums.first.tracks.first.preview_url %>">
        </div>
    </div>
</div>
    