<%# cssは楽曲投稿のものを併用しています。
app/assets/stylesheets/songs/new.css %>

<div class="songs-register-contents">
  <header class="songs-register-header">
    <%= link_to image_tag('music-logo.png' , size: '185x50'), "/" %>
  </header>
  <div class="songs-register-main">
    <h2 class="songs-register-title">商品の情報を入力</h2>
    <%= form_with model: @song ,local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# アーティスト画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        アーティスト画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /アーティスト画像 %>
    <%# 楽曲名 %>
    <div class="new-songs">
      <div class="weight-bold-text">
        楽曲名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"songs-text", id:"title", placeholder:"楽曲名" %>
      <div class="weight-bold-text">
        アーティスト名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :artist, class:"songs-text", id:"artist", placeholder:"アーティスト名" %>
      <div class="weight-bold-text">
        ジャンル
      </div>
      <%= f.text_area :genre, class:"songs-text", id:"genre", placeholder:"ジャンル名" %>
    </div>
    <%# /楽曲名 %>

    <%# 注意書き %>
    <%# /注意書き %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"sell-btn" %>
      <%=link_to 'もどる', song_path(@song.id), class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="songs-register-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">BMO利用規約</a></li>
      <li><a href="#">著作権に関する表記</a></li>
    </ul>
    <%= link_to image_tag('music-logo.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎BEST MUSIC ONE
    </p>
  </footer>
</div>