<%= render "shared/header" %>

<%# 楽曲の概要 %>
<div class="song-show">
  <div class="song-box">
    <div class="song-img-content">
      <%= image_tag @song.image,class:"song-box-img" %>
    </div>
    <div class="song-info-box">
      <span class="song-title">
        <%= @song.title %>
      </span>
      <%= link_to artist_song_path(@song.artist) do %>
      <span class="song-artist">
        <%= @song.artist%>
      </span>
      <% end %>
      <%= link_to  user_path(@song.user_id), class: "user-nickname" do %>
      <span class='song-user'>
        投稿者:<%= User.find(@song.user_id).nickname %>
      </span>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
    <% if current_user.id == @song.user.id %>
      <%= link_to "楽曲の編集", edit_song_path(@song.id) , method: :get, class: "song-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", song_path(@song.id), method: :delete, class:"song-destroy" %>
    <% end %>
  <% end %>
    <div class="song-explain-box">
      <span><%= "楽曲プレビュー" %></span>
    </div>
    <img src="<%= @track.album.images.first["url"] %>" width="300" height="300" class="block">
    <div calss="text-all">
    <h3 class="text-light"><%= @track.artists[0].name %> </h3>
    <h3 class="text-light2"><%= @track.artists[0].genres %></h3>
    </div>
    <iframe class="iframe-song" src="<%= @track.preview_url %>">
</div>
  <%# /楽曲の概要 %>

<%= render "shared/second-footer" %>
