<%= render "shared/second-header"%>

<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>Log in</h2>
      <h5>登録しているユーザーでログイン</h5>
      <%= render "devise/shared/links"%>
      <%= link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post%>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f|%>
      <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
      <%= render 'shared/error_messages', model: f.object %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :メールアドレス%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true%>
          </div>
          <div class='field'>
            <div class='field-label'>
              <%= f.label :パスワード%>
              <i>(英数字6文字以上)</i>
            </div>
            <div class='field-input'>
              <%= f.password_field :password, class:"input-default", id:"password", placeholder:""%>
            </div>
          </div>
          <div class='actions'>
            <%= f.submit "ログイン", class: 'btn'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/second-footer"%>
